@charset "utf-8";

/* リセット */
html,
body,
header,
footer,
main,
section,
/* h1, */
h2,
h3,
h4,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1.625;
    color: #212121;
    font-family: "Oswald", "YuGothic", "游ゴシック Medium", sans-serif;
    font-weight: 300;
    font-feature-settings: "palt";
    box-sizing: border-box;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

/* a:hover {
    opacity: 0.7;
} */

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}