@charset "utf-8";

body{
    background-color: #FFC2D9;
}

.main_img{
    text-align: center;
    vertical-align: middle;
    margin: 100px 0 73px;
}
.main_text{
    text-align: center;
}
.main_text span{
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.1em;
}
.header_inner{
    max-width: 1730px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    box-sizing: border-box;
}
.header_inner nav{
    width: 100%;
    max-width: 500px;
}
.header_inner nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botton{
    /* 1.形をきめる */
    width: 157px;
    height: 57px;
    border-radius: 50px;
  /* 2.背景色をきめる */
    background: #212121;
  /* 3.文字の配置をきめる */
    display: flex;
    justify-content: center;
    align-items: center;
  /* 4.文字のスタイルを設定 */
    color: #FFC2D9;
    font-size: 20px;
    font-weight: medium;
}
.header_inner nav li{
    font-family: "Oswald", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 20px;
    font-weight: medium;
    color: #212121;
}
.logo img{
    width: 157px;
}

#about{
    display: flex;
    align-items: center;
    max-width: 852px;
    margin: 150px auto;
    padding: 10px;
}
.about1 img{
    width: 320px;
    border-radius: 0  0 80px  0;
}
.about_main{
    width: 470px;
    padding-left: 7%;
}
#about h2{
    text-align: left;
    font-size: 45px;
    font-family: "Oswald";
    /* margin: 30px 0 20px 0; */
}
#about p{
    width: 470px;
    font-size: 14px;
    font-family: "Oswald";
    font-weight: medium;
    margin: 10px 0 40px 0;
    line-height: 1.8;
    letter-spacing: 0.1em;
}
.about_botton{
    margin: 0 auto;
    align-items: center;
}
.about_botton2{
    font-size: 14px;
    font-weight: normal;
	color: #212121;
	background-color: #FFC2D9;
	border: solid 1px #212121;
	border-radius: 20px;
	padding: 10px 100px;
	transition: 0.4s;
	cursor: pointer;
    position: relative;
}
.about_botton2:hover {
	color: #FFC2D9;
	background-color: #212121;
}
.about_botton2::before{
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    background-color: #212121;
    border-radius: 100%;
    right: 5%;
}
.about_botton2::after{
    content: "\f105";
    position: absolute;
    top: 50%;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #FFC2D9;
    font-size: 20px;
    right: 19px;

}

#line{
    display: flex;
    align-items: center;
    max-width: 820px;
    margin: 100px auto;
    padding: 10px;
}
#line img{
    width: 0 auto;
}
#skill{
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
}
#skill h2{
    text-align: center;
    font-size: 45px;
    font-family: "Oswald";
    margin: 30px 0 20px 0;
}
#skill ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#skill li{
    width: 31%;
    height: 570px;
    border: 1px solid;
    border-radius: 50px;
}
#skill h4{
    text-align: center;
    font-size: 30px;
    font-family: "Oswald";
    margin: 30px 50px 10px 50px;
}
#skill img{
    display: block;
    text-align: center;
    height: 200px;
    width: auto;
    margin: 30px auto;
}
#skill p{
    width: 75%;
    font-size: 14px;
    font-family: "Oswald";
    line-height: 1.8;
    letter-spacing: 0.1em;
    margin: 0 auto;
}
@media screen and (max-width:910px) {
    #skill li{
        height: 610px;
    }
}

#works{
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
}
#works h2{
    text-align: center;
    font-size: 45px;
    font-family: "Oswald";
    margin: 30px 0 20px 0;
}
#works ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
#works li{
    width: 45%;
    margin: 20px 0;
}
#works img:hover {
	color: #FFC2D9;
    width: 500px;
    height: 105px;
	background-color: #212121;
    /* opacity: 0.5 ; */
}





footer{
    width:100%;
    background-color: #212121;
    margin: 150px 0 0 0;
}

.footer{
    max-width: 400px;
    width:100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-top: 75px;
}

.footer_logo{
    max-width: 227px;
    margin-right: 50px;
}
.footer nav li{
    font-size: 21px;
    font-weight: medium;
    color: #FFC2D9;
    border-left:1px solid #FFC2D9;
    padding: 10px 0 10px 50px;
}
.footer_sns{
    max-width: 206px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 15px;
}
.footer_sns img{
    width: 45px;
}
.copy .botton{
    /* 1.形をきめる */
    width: 100px;
    height: 45px;
    border-radius: 50px;
  /* 2.背景色をきめる */
    background: #FFC2D9;
  /* 3.文字の配置をきめる */
    display: flex;
    justify-content: center;
    align-items: center;
  /* 4.文字のスタイルを設定 */
    color: #212121;
    font-size: 15px;
    font-weight: bold;
}

.copy .footer_nav ul{
    display: flex;
    gap: 10px;
}
.copy{
    padding-bottom: 70px;
    text-align: center;
    font-size: 14px;
    font-weight: medium;
    color: #FFC2D9;
}




/* 下層ページ_about */
#about_page{
    max-width: 1100px;
    margin: 30px auto;
    padding: 10px;
}
#about_page h2{
    text-align: left;
    font-size: 45px;
    font-family: "Oswald";
    margin: 30px 0 20px 0;
}
.about_p{
    display: flex;
    align-items: center;
    /* max-width: 1100px; */
}
.about_p img{
    width: 17%;
}
.about_p p{
    width: 700px;
    font-size: 14px;
    font-family: "Oswald";
    font-weight: medium;
    margin: 30px 0 20px 0;
    line-height: 1.8;
    letter-spacing: 0.1em;
    padding-left: 50px;
}
.about_p span{
    font-size: 30px;
    font-family: "Oswald";
    /* font-weight: bold; */
}

#about_career{
    max-width: 1100px;
    margin: 100px auto;
    padding: 10px;
}
#about_career h2{
    text-align: left;
    font-size: 45px;
    font-family: "Oswald";
    margin: 30px 0 20px 0;
}
.about_career_text{
    align-items: center;
    max-width: 860px;
    border-left:1px solid #212121;
    border-bottom:1px solid #212121;
    padding: 0 0 30px 70px;
    margin: 0 70px;
}
.about_career_text p{
    font-size: 14px;
    font-family: "Oswald";
    font-weight: medium;
    margin: 50px 0 30px 0;
    line-height: 1.8;
    letter-spacing: 0.1em;
}
.about_career_text span{
    font-size: 30px;
    font-family: "Oswald";
}
/* .about_career_text ::before {
    content: '';
    width: 12px;
    height: 12px;
    background: #608EAE;
    position: absolute;
    left: 106px;
    top: 40px;
    border-radius: 100%;
}
*, ::before, ::after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
} */

#about_interests{
    max-width: 1100px;
    margin: 100px auto;
    padding: 10px;
}
#about_interests h2{
    text-align: left;
    font-size: 45px;
    font-family: "Oswald";
    margin: 30px 0 0 0;
}
.about_interests_img{
    display: flex;
    flex-wrap: wrap;
    max-width: 950px;
    margin: 0 auto;
    gap: 5%;
}
.about_interests_img img{
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 50px 0 0 0;
}

.about_interests_img img:hover {
	color: #FFC2D9;
    width: 285px;
    border-radius: 50%;
	background-color: #212121;
    /* opacity: 0.5 ; */
}
/* #about_interests .hover-text {
    position:    absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    background-color:    rgba(0,0,0,0.65);
    透明にして表示させない
    opacity: 0;
    ホバーの動き方
    transition: .3s ease-in-out;
}
#about_interests .hover-text p {
    font-size: 22px;
    padding: 10px 20px;
} */



/* 下層ページ_works */
#works_page{
    max-width: 1100px;
    margin: 30px auto;
    padding: 10px;
}
#works_page h2{
    text-align: left;
    font-size: 45px;
    font-family: "Oswald";
    margin: 30px 0 50px 0px;
}
.works_p{
    text-align: center;
}
.works_p img{
    max-width: 630px;
    margin: 0 auto;
}
.works_p2{
    max-width: 827px;
    margin: 0 auto;
}
.works_p2 h3{
    font-size: 40px;
    font-family: "Oswald";
    font-weight: normal;
    margin: 63px 0;
}
.works_p2 table{
    width: 100%;
}
.works_p2 td{
    vertical-align: top;
    padding: 0 0 40px 70px;
}




/* 下層ページ_contact */
#contact_page{
    max-width: 1100px;
    margin: 30px auto;
    padding: 10px;
}
#contact_page h2{
    text-align: left;
    font-size: 45px;
    font-family: "Oswald";
    margin: 30px 0 50px 0px;
}
.c-form {
	max-width: 650px;
	margin: 0 auto;
}
.c-form__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 20px;
}
.c-form__label,
.c-form__input {
	padding: 10px;
}
.c-form__label {
	width: 90%;
}
.c-form__input {
    background-color: #FFC2D9;
	width: 90%;
	font-size: 14px;
	border: solid 1px #212121;
	border-radius: 5px;
}
.c-form__input:focus-visible {
	outline: #212121 auto 1px;
}
.c-form__required {
    font-size: 13px;
	color: #FFC2D9;
	background-color: #212121;
	border-radius: 5px;
	padding: 5px 5px;
	margin: 0 0 0 18px;
}
textarea.c-form__input {
	height: 160px;
}
.c-form__submit {
	text-align: center;
    margin-top: 50px;
}
.c-form__submit button {
	font-size: 14px;
    font-weight: normal;
	color: #FFC2D9;
	background-color: #212121;
	border: solid 1px #212121;
	border-radius: 5px;
	padding: 5px 100px;
	transition: 0.4s;
	cursor: pointer;
}
.c-form__submit button:hover {
	color: #212121;
	background-color: transparent;
}

@media (min-width: 640px) {
	.c-form__item {
		flex-wrap: nowrap;
	}
	.c-form__label {
		width: 40%;
	}
	.c-form__input {
		width: 55%;
	}
}




/* 下層ページ_thanks */
#thanks_page{
    max-width: 1100px;
    margin: 30px auto;
    padding: 10px;
}
#thanks_page h2{
    text-align: center;
    font-size: 30px;
    font-family: "Oswald";
    margin: 30px 0 50px 0px;
}
#thanks_page p{
    font-size: 15px;
    text-align: center;
}
.thanks_botton{
    margin: 0 auto;
    align-items: center;
}
.botton_top{
    font-size: 14px;
    font-weight: normal;
	color: #212121;
	background-color: #FFC2D9;
	border: solid 1px #212121;
	border-radius: 20px;
	padding: 10px 100px;
	transition: 0.4s;
	cursor: pointer;
}
.botton_top:hover {
	color: #FFC2D9;
	background-color: #212121;
}

